/* ========================================================================= */
/*
/* print.css - media: print */
/*
/* ========================================================================= */

@media print {
     
a:link:after,
a:visited:after {
  font-size: 90%;
  content: " (" attr(href) ") ";
}

}