@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html{
  //font-size: 10px;
}
body{
  margin-top: 0px;
  margin-bottom: 0px;
}
.header{
  background: #ffffff;
  /*border-bottom: 3px #000 solid;*/
}
.menu{
  font-family: Roboto;
  position: relative;

font-size: 14px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px; /* Приближение из-за подстановки шрифтов */
text-align: left;
}
.menu a{
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.menu li > a:hover{
  border-bottom: 9px #eaecec solid;
  text-decoration: none;
  color: #000000;
}
.menu li:hover > ul {
  display:block;
}
.menu ul{
  display: none;
  position:absolute;
  background: #ffffff;
  z-index: 100;
  top: 100%;
  border: 1px rgb(237, 239, 239) solid;
  padding: 2rem 0;
}
.menu ul li{
  min-width: 17rem;
  padding: 0 2rem;
}
.menu ul li:hover{
  background: rgb(237, 239, 239);
}
.menu ul li > a:hover{
  text-decoration: none;
  color: #000000;
  border-bottom: none;
}
.phone{
  font-family: Roboto;
color: #000000;
font-size: 18px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px; /* Приближение из-за подстановки шрифтов */
text-align: right;
}
.korzina{
  position: relative;
}
.korzina a, .korzina a:hover{
  color: #000000;
}
.korzina-brief{
  display: none;
  position: absolute;
  box-sizing: border-box;
  border: 1px #000 solid;
  right: 0;
  top: 40px;
  background: #ffffff;
  z-index: 100;
  padding: 1rem;
  border-radius: 5px;
}
.bgbannner{
  position: relative;
}
.signbanner{
  position: absolute;
  bottom: 100px;
  left: 120px;
}
.dials h2, .novinki h2, .brands h2{
  font-family: 'Open Sans';
  letter-spacing: 2px;
  color: #000000;
  font-size: 24px;/* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
}
.carousel-control-next-icon{
  width: 11px;
  height: 34px !important;
  position: relative;
  left: 3rem;
  color: #000000;
  background-image: url('nextarrow.png') !important;
}
.carousel-control-prev-icon{
  width: 11px;
  height: 34px !important;
  position: relative;
  right: 3rem;
  color: #000000;
  background-image: url('prevarrow.png') !important
  /*background-image: url("../img/prevarrow.png") !important;*/
}
.infoblock1{
  left: 57% !important;
  right: 0 !important;
  bottom: 20px !important;
  width: 50%;
  text-align: left !important;
}
.infoblock1 h3{
  font-family: Roboto;
  color: #000000;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 800;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-transform: uppercase;
}
.usl{
  font-family: Roboto;
  color: #ffffff;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
}
.sale-price{
  font-family: Roboto;
  color: #000000;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-transform: uppercase;
}
.sale-buy{
  font-family: Roboto;
  color: #ffffff;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  border: 1px #ffffff solid;
  /*border: 3px #c1beb9 solid;*/
  padding: 2px 10px;
}
.sale-buy:hover{
  text-decoration: none;
  color: #ffffff;
}
.infoblock2{
  position: relative !important;
  /*border: #f00 1px solid;*/
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  color: #000000 !important;
  padding: 0 !important;
}
.infoblock2 h4{
  font-family: Roboto;
  color:   #000000;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 800;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin: 0 0 0.5rem;
  text-transform: uppercase;
}
.sku-params{
  text-align: left;
  color: #a7aeb1;
}
.sku-price{
  font-family: Roboto;
  text-align: left;
  font-size: 16px;/* Приближение из-за подстановки шрифтов */
  font-weight: 800;
}
.img-novinki{
  max-height: 90%;
  width: auto;
}
.footer h3{
  font-family: Roboto;
  color:#000000;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
}
.footer ul{
  font-family: Roboto;
  color: #000000;
  font-size: 14px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px; /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.footer ul li > a{
  color: #000000;
}


.catalog-menu{
  border: 1px rgb(237, 239, 239) solid;
}
.catalog-menu > li{
  font-family: Roboto;
  color: #000000;
  font-size: 0.875rem; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 2.143; /* Приближение из-за подстановки шрифтов */
}
.catalog-menu > li:hover{
  background: rgb(237, 239, 239);
}
.catalog-menu > li > a{
  display: block;
  color: #000000;
}
.catalog-menu > li > a:hover{
  text-decoration: none;
}
.page-link{
  color: #000000;
}
.page-item{
  margin: 0 0.1rem;
}
.page-item:first-child .page-link, .page-item:last-child .page-link{
  border-radius: 0;
}
.page-item.active .page-link{
  background-color: #dee2e6;
  border: 1px solid #dee2e6;
  color: #000;
}
.product-title{
  /*min-height: 3rem;*/
  font-family: Roboto;
  font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.3;/* Приближение из-за подстановки шрифтов */
  padding: 0.5rem 2rem 0;
  text-transform: uppercase;
  margin: 0;
}
.product-title > a{
  color: #000000;
}
.product-price{
  padding: 0.5rem 2rem 0;
  font-family: Roboto;
  color: #000000;
  font-size: 1.5rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.5;/* Приближение из-за подстановки шрифтов */
}


.product-card{
  font-family: Roboto;
  color: #000000;
  font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.714;/* Приближение из-за подстановки шрифтов */
}
.product-card h1{
  font-family: Open Sans;
  color: #000000;
  font-size: 1.5rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  line-height: 1;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.product-card span{
  font-family: Roboto;
  color: #a7aeb1;
  font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.714;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.product-incart{
  border: 1px rgb(229, 229, 229) solid;
}
.product-incart h2{
  font-family: Roboto;
  color:#000000;
  font-size: 1.5rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.25;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.product-incart legend{
  font-family: Roboto;
  color:#000000;
  font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.286;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
}
.product-incart a{
  color: #000000;
  text-decoration: underline;
}
.product-incart-dost{
  font-family: Roboto;
  color: #000000;
  font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
}
.onChange{
  border: 1px #a7aeb1 solid;
  padding: 0.5rem;
  font-family: Open Sans;
  color: #a7aeb1;
  font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  line-height: 1.714;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.onChange option{
  color: rgb(167, 174, 177);
}
.cartQuantity{
  border: 1px #a7aeb1 solid;
  width: 5rem;
  padding: 0.3rem;
  text-align: center;
  color: #a7aeb1;
  font-family: Open Sans;
  font-size: 1rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  line-height: 1.714;/* Приближение из-за подстановки шрифтов */
}
.img-fixheight{
  height: 310px;
  object-fit: cover;
}
.related-products-link{
  font-family: Roboto;
  color: #000000;
  font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.1;/* Приближение из-за подстановки шрифтов */
}
.sku-price{
  font-family: Roboto;
  color: #000000;
  font-size: 1.5rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.5;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}
#add_product_notification{
  background: rgb(229, 230, 229);
  padding: 2rem;
}
.cartOrder h1{
  font-family: 'Open Sans';
  color: #000000;
  font-size: 1.5rem; /* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  line-height: 1; /* Приближение из-за подстановки шрифтов */
}
.cartOrder h2{
  font-family: 'Roboto';
  color: #000000;
  font-size: 0.875rem; /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 2.143; /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.cartOrder p{
  font-family: 'Roboto';
  color: #000000;
  font-size: 0.875rem; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 2.143; /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
#cartTable{
  border: 1px rgb(211, 211, 211) solid;
}
#cartTable thead{
  background: rgb(237, 239, 239);
}
#cartTable thead th{
  font-family: 'Roboto';
  color: #000000;
  font-size: 0.875rem; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 2.143; /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.itemName{
  display: block;
  font-family: 'Open Sans';
  color: #000000;
  font-size: 1.125rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  line-height: 1.333;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.itemsProp{
  font-family: 'Roboto';
  color: #a7aeb1;
  font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.714;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
}
.itemsProp strong{
  color: #000000;
}
.cartCol{
  font-family: 'Open Sans';
  color: #a7aeb1;
  font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  line-height: 1.714;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  max-width: 3rem;
  border: 1px rgb(229, 229, 229) solid;
}
.ctPrice{
  font-family: 'Roboto';
  color: #000000;
  font-size: 1.125rem; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.667; /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.ctOverall{
  font-family: 'Roboto';
  color: #000000;
  font-size: 1.5rem; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.25; /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.couponRow{
  background: rgb(237, 239, 239);
  font-family: Roboto;
  color: #000000;
  font-size: 0.875rem; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 2.143; /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.coupon_message{
  line-height: 1 !important;
  color: #ff0000 !important;
}
.cartSumma{
  font-family: Roboto;
  color: #000000;
  font-size: 1.5rem; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.25; /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.cartSummary{
  font-family: Roboto;
  color: #000000;
  font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 2.143;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}
